@import "tailwindcss";


@theme {
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
      0%,
      100% {
        transform: rotate(-3deg);
      }
      50% {
        transform: rotate(3deg);
      }
    }

  }

 * {
  font-family: "Jersey 15", serif;
  letter-spacing: 1px;
 }